//#region [ Preloader ]
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 99999999999999;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  transition: all 1s;
}
.pace .pace-progress {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 300px;
  position: fixed;
  z-index: 99999999999999;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #c5a47e;
}

.pace.pace-inactive {
  width: 100vw;
  opacity: 0;
}
.pace.pace-inactive .pace-progress {
  max-width: 100vw;
}

#preloader {
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 9999999;
}

#preloader:after,
#preloader:before {
  content: '';
  position: fixed;
  left: 0;
  height: 50vh;
  width: 100%;
  background: #151515;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
#preloader:before {
  top: 0;
}
#preloader:after {
  bottom: 0;
}
#preloader.isdone {
  visibility: hidden;
  transition-delay: 1.5s;
}
#preloader.isdone:after,
#preloader.isdone:before {
  height: 0;
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition-delay: 1s;
}

.loading-text {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 10px;
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c5a47e;
  font-family: 'Teko', sans-serif;
  z-index: 9999;
}
.loading-text.isdone {
  top: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
//#endregion

//#region [ Scroll To TOP ]
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 400ms linear;
  &::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    content: '\f077';
    text-align: center;
    line-height: 44px;
    font-size: 13px;
    font-weight: 900;
    color: #c5a47e;
    left: 0;
    top: 0;
    height: 44px;
    width: 44px;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 400ms linear;
  }
  @screen sm {
    right: 15px;
    bottom: 15px;
  }
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #c5a47e;
  stroke-width: 4;
  box-sizing: border-box;
  transition: all 400ms linear;
}
//#endregion

//#region [ NAV BAR ]
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 999;
  min-height: 60px;
}
.navbar .logo {
  width: 120px;
}
.navbar .icon-bar {
  color: #fff;
}
.navbar .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px 7px;
  margin: 10px;
}
.navbar .navbar-nav .dropdown-menu {
  padding: 10px 0;
  border: 0;
  box-shadow: 0px 10px 40px -4px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-nav .dropdown-item {
  font-size: 13px;
  padding: 10px 20px;
  opacity: 0.9;
}
.navbar .navbar-nav .dropdown-item:hover {
  background: transparent;
  color: #b19777;
}
.navbar .dropdown-menu {
  // display: block;
  // opacity: 0;
  // visibility: hidden;
  // border-radius: 0;
  transform: translateY(20px);
  transition: all 0.4s;
}
.navbar .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
// .navbar .dropdown-menu .dropdown-item {
//   transition: all 0.4s;
//   padding: 10px 25px;
//   position: relative;
// }
// .navbar .dropdown-menu .dropdown-item:after {
//   content: '';
//   width: 0px;
//   height: 1px;
//   background: #b19777;
//   position: absolute;
//   left: 10px;
//   top: 50%;
//   -webkit-transition: all 0.4s;
//   -o-transition: all 0.4s;
//   transition: all 0.4s;
// }
// .navbar .dropdown-menu .dropdown-item:hover {
//   padding-left: 30px;
// }
// .navbar .dropdown-menu .dropdown-item:hover:after {
//   width: 10px;
// }
// .navbar .social-icon {
//   padding: 0 20px;
//   border-left: 1px solid rgba(255, 255, 255, 0.1);
// }
// .navbar .social-icon a {
//   color: #fff;
//   margin: 0 10px;
//   font-size: 13px;
// }
// .navbar .search {
//   color: #fff;
//   padding-left: 30px;
//   border-left: 1px solid rgba(255, 255, 255, 0.1);
// }
// .navbar .search .icon {
//   cursor: pointer;
// }
// .navbar .search .search-form {
//   position: fixed;
//   width: 100%;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   background: rgba(37, 37, 49, 0.98);
//   display: none;
// }
// .navbar .search .search-form form {
//   width: 600px;
//   position: absolute;
//   left: calc(50% - 300px);
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
// .navbar .search .search-form form input {
//   padding: 15px 0;
//   font-size: 80px;
//   color: #fff;
//   text-transform: uppercase;
//   text-align: left;
//   background: transparent;
//   border: 0;
//   border-bottom: 2px solid #b19777;
// }
// .navbar .search .search-form .close {
//   position: absolute;
//   top: 20%;
//   right: 20%;
//   color: #fff;
//   font-size: 60px;
//   opacity: 1;
//   cursor: pointer;
// }
.light,
.nav-scroll {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 10px 30px rgba(37, 37, 49, 0.1);
  padding: 0;
  position: fixed;
  top: -80px;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transform: translateY(80px);
}
.light .icon-bar,
.nav-scroll .icon-bar {
  color: #222;
}
.light .navbar-nav .nav-link,
.nav-scroll .navbar-nav .nav-link {
  color: #222;
}
.light .navbar-nav .logo,
.nav-scroll .navbar-nav .logo {
  width: 100px;
  padding: 15px 0;
  color: #111;
}
.light .social-icon,
.nav-scroll .social-icon {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.light .social-icon a,
.nav-scroll .social-icon a {
  color: #000;
}
.light .search,
.nav-scroll .search {
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
//#endregion

//#region [ SLIDER ]
.slider {
  position: relative;
}
.slider.fixed-slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.slider .swiper-slide-active {
  z-index: 3;
}
.slider .parallax-slider {
  position: relative;
}
.slider .parallax-slider .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}
.slider .parallax-slider .swiper-slide .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.slider .parallax-slider .swiper-slide-active .caption {
  @apply ml-2 sm:ml-8 md:ml-20;
}

// ACTIVE SLIDER CAPTION
.slider .parallax-slider .swiper-slide-active .caption h1 {
  @apply text-3xl md:text-5xl lg:text-6xl leading-[52px];
  transition: all 0s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.slider .parallax-slider .swiper-slide-active .caption h1 .char {
  animation: fadeInUp 0.5s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}
.slider .parallax-slider .swiper-slide-active .caption .thin,
.slider .parallax-slider .swiper-slide-active .caption .btn-curve,
.slider .parallax-slider .swiper-slide-active .caption p {
  opacity: 1;
  transform: translateY(0px);
}
.l-divider {
  @apply pl-10;
  position: relative;
  &:after {
    @apply bg-white/50;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 90px;
    width: 2px;
  }
}

.slider .parallax-slider .caption .thin {
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.8s;
  transition-delay: 0.8s;
}
.slider .parallax-slider .caption .thin span {
  color: #b19777;
}
.slider .parallax-slider .caption h1 {
  @apply text-3xl md:text-5xl lg:text-6xl leading-[52px];
  font-weight: 700;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.slider .parallax-slider .caption h1 span {
  font-weight: 700;
}
.slider .parallax-slider .caption p {
  color: #aaa;
  font-size: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s;
  transition-delay: 0.8s;
}
.slider .parallax-slider .caption .btn-curve {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s;
  transition-delay: 1s;
}
.slider .parallax-slider .hmone h1 .thin {
  font-size: 30px;
  margin-bottom: 20px;
}
.slider .caption.center h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.slider {
  .setone {
    position: absolute;
    bottom: 2%;
    right: 3%;
    z-index: 8;

    .swiper-nav-ctrl {
      color: #ccc;
      font-size: 13px;
      width: 3rem;
      height: 3rem;
      line-height: 55px;
      text-align: center;
      margin: 5px 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      position: static;
      &:after {
        display: none;
      }
    }
  }
  .setone.settwo {
    position: static;
  }
}

.slider .swiper-pagination-fraction.top {
  position: absolute;
  right: 15%;
  left: auto;
  bottom: auto;
  top: 15%;
  width: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.slider .swiper-pagination-fraction.top .swiper-pagination-current {
  @apply text-[16px];
  font-weight: 700;
  position: relative;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
}

//#endregion
